@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Gilroy";
  src: url("../../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  background: url(../../assets/img/Studio-Display.png);
  background-position: 100% 100%;
  background-repeat: no-repeat;

  background-size: contain;

  animation: animate-body 0.4s backwards ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:-webkit-scrollbar {
  width: 0px;
  height: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.border {
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  margin: 0px auto;
}

.form-container {
  animation: animate-form 0.4s forwards ease-in-out;
  padding: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  opacity: 1;
  background: rgba(109, 67, 128, 0.4);
  margin-top: 30px;
  width: 350px;
}

@media (max-width: 450px) {
  .form-container {
    width: 300px;
    margin-top: 20%;
  }
}

.form-container form {
  position: relative;
  animation: animate-display_inputs 0.4s forwards ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
}

.form-container form input {
  transition: 0.5s;
  font-family: "Gilroi";
  padding: 1px 5px;
  text-align: left;
  height: 25px;
  margin-bottom: 25px;
  width: 100%;
}

.form-container form input:focus {
  border: 2px solid #555;
}

.error-msg {
  display: none;
  position: absolute;
  top: 0%;
  animation: error-msg-animation 0.4s forwards ease-in-out;
  text-align: center;
  width: 100%;
  padding: 2px 2px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  border-radius: 2px;
  transform: translateY(-80px);
  background: rgba(240,113,0, 0.8);
}

@keyframes error-msg-animation {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }

  40% {
    transform: translateY(-50px);

    opacity: 0.2;
  }

  80% {
    transform: translateY(-70px);
    opacity: 0.4;
  }

  100% {
    transform: translateY(-20px);
    opacity: 1;
  }
}

.error-input {
  animation: error-input-animation 0.4s ease-in-out forwards;
  border: 2px solid rgb(212, 18, 18);
}

@keyframes error-input-animation {
  0% {
    transform: translateX(5px);
  }

  80% {
    transform: translateX(-5px);
  }

  95% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0px);
  }
}

.form-container form input::placeholder {
  font-family: "Gilroy";
  color: #212529;
  opacity: 0.8;
}

.form-container form input:focus {
  outline: 0;
  background: white;
}

.form-container h2 {
  color: white;
  margin-bottom: 40px;
}

.confirm-button {
  animation: animate-display_btn 0.2s ease-in forwards;
  margin-top: 25px;
  background: #d52685;
  color: white;
  cursor: pointer;
  padding: 13px 30px;
  border: none;
}

.disabled-button {
  display: disabled;
  background: #555;
  transition: 1s ease-in;
}

.loader-form {
  display: none;
  width: 150px;
  height: 150px;
  z-index: 10;
  animation: loader-smooth 0.7s forwards ease-in;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 1s ease-out;
  transform: translate(-50%, -50%);
  background-color: #212529;
  border: 5px solid black;
  border-radius: 100px;
}

@keyframes loader-smooth {
  0% {
    top: 0;
    opacity: 0;
  }

  50% {
    top: 20%;
    opacity: 0.5;
  }

  80% {
    top: -10%;
    opacity: 0.7;
  }

  100% {
    top: 25%;
    opacity: 0.8;
  }
}

.hide-loader {
  animation: hide-loader-smooth 1s forwards ease-out;
}

@keyframes hide-loader-smooth {
  100% {
    top: 25%;
    opacity: 0;
  }
  80% {
    top: -10%;
    opacity: 0.3;
  }
  50% {
    top: 20%;
    opacity: 0.5;
  }
  0% {
    top: 0;
    opacity: 0.8;
  }
}

@keyframes animate-display_btn {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes animate-form {
  0% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes animate-body {
  0% {
    transform: scale(0.98);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes animate-display_inputs {
  0% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0px);
  }
}
