.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  background: #001731;
  width: 100%;
  height: 100%;
  justify-content: center;
  animation: slide-burger 1s forwards ease-in-out;
}

@keyframes slide-burger {
    from {
    transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

.hide-back {
    animation: hide-back-anim 1s forwards ease-out;
}

@keyframes hide-back-anim {
    from {
    transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

.mobile-nav__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.toggle-button {
  display: none;
  width: 48px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 10px;
  right: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 3px;
  background: white;
  display: block;
  margin: 10px 0;
}

.mobile-nav__close {
  position: fixed;
  height: 55px;
  top: 15px;
  right: 20px;
  width: 30px;
}

.mobile-nav__close svg line {
  stroke: white;
  stroke-width: 10;
}

.mobile-nav__close svg:hover,
.mobile-nav__close svg:active {
  cursor: pointer;
}

.mobile-nav__close svg:hover line,
.mobile-nav__close svg:active line {
  stroke: #398bff;
}

.mobile-nav__items {
  width: 90%;
  list-style: none;
  text-align: center;
  margin: 0 0 20px 0;
}

.mobile-nav__item {
  padding: 8px;
}

.mobile-nav__item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.mobile-nav__item a:hover,
.mobile-nav__item a:active {
  color: #398bff;
}

.mobile-nav__item--btns {
  text-align: center;
}

.mobile-nav__item--btns-start a {
  color: white;
  background: #398bff;
  padding: 11px 16px;
  border-radius: 4px;
  text-decoration: none;
}

.mobile-nav__item--btns-sign {
  margin-top: 40px;
}

.mobile-nav__item--btns-sign a {
  width: auto;
  color: #398bff;
  background: rgba(44, 130, 253, 0.15);
  padding: 11px 16px;
  border-radius: 4px;
  text-decoration: none;
}

@media (max-width: 520px) {
  .header__container {
    min-height: 55px;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: middle;
  }

  .main-nav {
    justify-content: center;
    width: auto;
  }

  .main-nav__items {
    display: none;
  }

  .main-header__brand img {
    margin-left: 10px;
  }
  .right-section {
    display: none;
  }

  .toggle-button {
    display: block;
    justify-content: flex-end;
  }
}


