.reviews-team {
  width: 100%;
}

/* ---1270px adaptive container need---------------------- */

.reviews-team__container {
  display: flex;
  width: 113%;
  background: #031e3e;
  margin: -3rem -5rem 3rem -5rem;
}

.reviews-team__left {
  width: 50%;
}

.reviews-team__image {
  display: flex;
  width: 50%;
  margin: 3rem 0rem 0rem 7rem;
}
