.reviews-team {
  width: 100%;
}

.reviews-team__container {
  width: 113%;
  background: #031e3e;
  margin: -3rem -5rem 3rem -5rem;
}

.reviews-team__left {
  width: 50%;
}

.reviews-team__image {
  width: 50%;
  margin: 0rem 0rem 0rem 0rem;
}
