/* here will be styles which use on more then one page */

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
}

:-webkit-scrollbar {
  width: 0px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

/*--БЛОК ПРОДУКТ-БЭКГРАУНД--------------------------------------------------------*/
.product-wrapper {
  width: 100%;
}

.product-background {
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 700px;
  /* top: 1px; */
  margin-bottom: 5rem;
  background: #001731;
  border-radius: 8px;
}

.product-blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4rem;
  /* left: 5rem; */
  /* top: 8rem;  */
}

.product-blocks h1 {
  display: flex;
  width: 35rem;
  height: 12rem;
  /* left: 5rem;
  top: 8rem; */
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 95%;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.product-img img {
  display: flex;
  margin-top: 16.6rem;
  /* margin-right: 10rem; */
  max-width: 70%;
}

.product-btns {
  display: flex;
}

.product-btns__nav span {
  margin: 0 1rem;
}

.product-blocks p {
  max-width: 25rem;
  color: white;
}

.product-btns__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: medium;
  list-style: none;
}

/* --МЕНЮ------------------------------------------------------------------------ */

.main-header {
  position: fixed;
  width: 100%;
  z-index: 50;
}

.header__container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  min-height: 5rem;
  background: #001731;
  /* align-items: center; */
  z-index: 60;
}

.main-nav {
  display: flex;
  width: 100%;
  align-items: center;
  /* justify-content: flex-start; */
  padding-left: 1rem;
  margin: 0;
}

.main-header__brand img {
  height: 4rem;
  display: flex;
  left: 0;
}

.main-nav__items--all {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-nav__items {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: medium;
  list-style: none;
}

.main-nav__item--btns {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  list-style: none;
}

.main-nav__item--start a {
  text-decoration: none;
  margin-right: 1rem;
  color: white;
  font-weight: bold;
  display: flex;
  background: #398bff;
  padding: 8px 12px;
  border-radius: 4px;
}

.main-nav__item--sign a {
  display: flex;
  right: 0;
  text-decoration: none;
  color: #398bff;
  font-weight: bold;
  background: rgba(44, 130, 253, 0.15);
  padding: 8px 12px;
  border-radius: 4px;
}

.main-nav__item--start a:hover,
.mobile-nav__item--start a:active {
  color: #398bff;
  background: white;
}

.main-nav__item--sign a:hover,
.mobile-nav__item--sign a:active {
  color: #398bff;
  background: #ffffff;
}

.main-nav__item {
  margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
  display: flex;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.8rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

/*--ФУТЕР--------------------------------------------------------*/

.main-footer {
  background: #031e3e;
}

.main-footer__wrapp-all-info {
  flex-direction: column;
}

.footer {
  vertical-align: middle;
}

.main-footer__shared-bloc {
  display: flex;
  justify-content: space-around;
}

.main-footer__links-bloc {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.main-footer__classification-links {
  text-align: left;
  margin-right: 3rem;
}

ul {
  padding: 0;
}

.main-footer__classification-links h3 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: left;
}

.main-footer__links {
  list-style: none;
}

.main-footer__link {
  margin: 1rem 0;
}

.main-footer__link a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

.main-footer__subscription h3 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #ffffff;
}

.main-footer__subscription p {
  width: 20rem;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  opacity: 0.8;
}

.input {
  vertical-align: bottom;
}

#email {
  background: #ffffff;
  padding: 0.75rem 0.75rem 0.5rem;
  border-radius: 8px;
  width: 14rem;
  height: 1rem;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1rem;
  color: #031e3e;
}

.input-btn {
  padding: 0.75rem 0.75rem 0.5rem;
  width: 6rem;
  background: #398bff;
  border-radius: 8px;
  font-weight: 700;
  font-size: 0.85rem;
  color: #ffffff;
}

.input-btn:hover,
.input-btn:active {
  cursor: pointer;
  background: #ccc;
  color: #398bff;
}

.social-network {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
}

.social-network p {
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  opacity: 0.7;
}

.social-network__icon {
  list-style: none;
}

.social-network__icon a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.7;
  margin-left: 0.5rem;
}

@media (max-width: 970px) {
  .main-footer__shared-bloc {
    display: flex;
    flex-direction: column;
  }

  .main-footer__links-bloc {
    margin: 0 auto;
  }

  .main-footer__classification-links {
    text-align: center;
    margin: 0 2rem;
  }

  .main-footer__classification-links h3 {
    text-align: center;
  }

  .main-footer__subscription {
    margin: 0 auto;
    text-align: center;
  }

  .social-network {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

@media (max-width: 530px) {
  .main-footer__links-bloc {
    display: flex;
    flex-direction: column;
  }

  .main-footer__subscription {
    width: 15rem;
  }

  .main-footer__subscription p {
    width: 100%;
  }

  .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #email {
    width: 10rem;
  }

  .input-btn {
    margin-top: 1rem;
  }

  .social-network {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
