/* here will be styles which use on more then one page */

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
}

:-webkit-scrollbar {
  width: 0px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

/* --МЕНЮ------------------------------------------------------------------------ */

.main-header {
  display: flex;
  /* position: fixed; */
  width: 100%;
  z-index: 1;
}

.header__container {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  min-height: 5rem;
  background: #001731;
  align-items: center;
  z-index: 2;
  top: 0px; /* ты забыл прибить header потолку */
}

.main-nav {
  display: flex;
  width: 78.5%;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
  margin: 0;
}

/* ---АДАПТИВ--МЕНЮ-------------------------------------------------------------------- */

@media (max-width: 970px) {
  .main-nav {
    width: 69%;
    margin-right: 1rem;
  }
}

@media (max-width: 875px) {
  .main-nav {
    width: 70%;
  }
  .right-section {
    margin-right: -10rem;
    /* justify-content: center; */
    /* align-items: center;  */
    /* margin-left: 30%;  */
  }
}

@media (max-width: 725px) {
  .header__container {
    /* display: block; */
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    min-height: 7rem;
  }
  .main-nav {
    display: flex;
    justify-content: center;
    width: 105%;
    margin: 0rem 1rem 0.5rem 0rem;
  }
  .right-section {
    margin-left: 20px;
    /* justify-content: center; */
    /* align-items: center;  */
    /* margin-left: 30%;  */
  }
}

@media (max-width: 435px) {
  .header__container {
    /* display: block; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 9rem;
  }

  .main-nav {
    flex-direction: column;
    width: 110%;
    margin: -1.5rem 1rem 1rem 1rem;
  }
  .main-nav__items {
    margin: 0rem 0.5rem 0rem 0rem;
  }
}

.main-header__brand img {
  height: 4rem;
  display: flex;
  left: 0;
}

.main-nav__items--all {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main-nav__items {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: medium;
  list-style: none;
}

@media (max-width: 380px) {
  .main-nav__items {
    flex-wrap: wrap;
    /* margin: 0rem 0.5rem 0rem 0rem; */
  }
}

.main-nav__item--btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
}

.right-section {
  display: flex;
  justify-content: space-around;
  width: 16rem;
  margin-right: 15px;
}

.main-nav__item--start a {
  width: 110px;
  height: 32px;
  color: white;
  background: #398bff;
  padding: 0.7rem 1rem;
  border-radius: 4px;
  text-decoration: none;
}

.main-nav__item--sign a {
  width: 110px;
  height: 32px;
  color: #398bff;
  background: rgba(44, 130, 253, 0.15);
  padding: 0.7rem 1rem;
  border-radius: 4px;
  text-decoration: none;
}

.main-nav__item--start a:hover,
.main-nav__item--start a:active {
  color: #398bff;
  background: white;
  border: none;
}

.main-nav__item--sign a:hover,
.main-nav__item--sign a:active {
  color: #398bff;
  background: white;
  border: none;
}

.main-nav__item {
  margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
  display: flex;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0.4rem 0;
}

.main-nav__item:hover,
.main-nav__item:active {
  color: white;
  border-bottom: 5px solid white;
}

@media (max-width: 725px) {
  .main-nav__item:hover,
  .main-nav__item:active {
    color: white;
    border-bottom: 3px solid white;
  }
}

/*--ШАПКА--БЛОК--ПРОДУКТ--БЭКГРАУНД--------------------------------------------------------*/

.product-background {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0rem;
  background: #001731;
  border-radius: 0px 0px 8px 8px;
  overflow: hidden;
}

.product-blocks {
  width: 50%;
  margin: 3rem 0rem 0rem 3rem;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-self: center;
}

.product-blocks h1 {
  font-weight: 600;
  font-size: 52px;
  line-height: 95%;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin: 0rem 0rem 0rem 0rem;
}

@media (max-width: 970px) {
  .product-blocks h1 {
    font-weight: 600;
    font-size: 45px;
    line-height: 95%;
    letter-spacing: -0.03em;
    color: #ffffff;
    margin: 0rem 0rem 0rem 0rem;
  }
}

@media (max-width: 875px) {
  .product-blocks {
    width: 83%;
    margin: 7rem 0rem 0rem 3rem;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: flex-start;
  }

  .product-blocks h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 95%;
    letter-spacing: -0.03em;
    color: #ffffff;
    margin: 0rem 0rem 0rem 0rem;
  }
}

@media (max-width: 725px) {
  .product-blocks {
    width: 100%;
    margin: 9rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    align-content: center;
  }

  .product-blocks h1 {
    width: 85%;
    font-weight: 500;
    font-size: 40px;
    line-height: 95%;
    letter-spacing: -0.03em;
    color: #ffffff;
    margin: 0rem 0rem 0rem 0rem;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 435px) {
  .product-blocks {
    width: 100%;
    margin: 11rem 0rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    align-content: center;
  }

  .product-blocks h1 {
    width: 85%;
    font-weight: 500;
    font-size: 40px;
    line-height: 95%;
    letter-spacing: -0.03em;
    color: #ffffff;
    margin: 0rem 0rem 0rem 0rem;
    justify-content: center;
  }
}


.product-btns {
  display: flex;
}

.product-btns__nav span {
  color: rgba(255, 255, 255, 0.35);
  margin: 0 1rem;
}

.product-blocks p {
  max-width: 20rem;
  color: white;
  justify-content: space-around;
}

@media (max-width: 875px) {
  .product-blocks p {
    font-size: 14px;
    max-width: 20rem;
    color: white;
    justify-content: space-around;
    margin: 1rem 1rem 2rem 0rem;
  }
}

@media (max-width: 725px) {
  .product-blocks p {
    text-align: center;
  }
}

.product-btns__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: medium;
  list-style: none;
}

.product-btn__nav--now {
  margin: 0rem 0rem 0rem 0rem;
}

.product-btn__nav--now a {
  width: 110px;
  height: 32px;
  color: white;
  background: #398bff;
  padding: 0.7rem 1rem;
  border-radius: 4px;
  text-decoration: none;
}

.product-btn__nav--now {
  margin: 0rem 0rem 0rem 0rem;
}

.product-btn__nav--take a {
  width: 110px;
  height: 32px;
  color: #398bff;
  background: rgba(44, 130, 253, 0.15);
  padding: 0.7rem 1rem;
  border-radius: 4px;
  text-decoration: none;
}

.product-btn__nav--now a:hover,
.product-btn__nav--now a:active {
  color: #398bff;
  background: white;
  border: none;
}

.product-btn__nav--take a:hover,
.product-btn__nav--take a:active {
  color: #398bff;
  background: white;
  border: none;
}

@media (max-width: 875px) {
  .product-btns__nav {
    /* width: 50%; */
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 40%;
  }
  .product-btn__nav--now {
    margin: 0rem 0rem 0rem 0rem;
  }
  .product-btn__nav--take {
    margin: 0rem 0rem 0rem 0rem;
  }
}

.product-display {
  display: flex;
  margin: 5rem 0rem 0rem 0rem;
  justify-content: end;
  align-items: end;
}

.product-display img {
  width: 90%;
}

@media (max-width: 725px) {
  .product-display {
    width: 0%;
    z-index: -6;
  }

  .product-display img {
    width: 0%;
    z-index: -5;
  }
}

/*--ФУТЕР--------------------------------------------------------*/

.main-footer {
  background: #031e3e;
}

.main-footer__wrapp-all-info {
  flex-direction: column;
}

.footer {
  vertical-align: middle;
}

.main-footer__shared-bloc {
  display: flex;
  justify-content: space-around;
}

.main-footer__links-bloc {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.main-footer__classification-links {
  text-align: left;
  margin-right: 3rem;
}

ul {
  padding: 0;
}

.main-footer__classification-links h3 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: left;
}

.main-footer__links {
  list-style: none;
}

.main-footer__link {
  margin: 1rem 0;
}

.main-footer__link a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}

.main-footer__subscription h3 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #ffffff;
}

.main-footer__subscription p {
  width: 20rem;
  font-weight: 500;
  font-size: 1rem;
  color: #ffffff;
  opacity: 0.8;
}

.input {
  vertical-align: bottom;
}

#email {
  background: #ffffff;
  padding: 0.75rem 0.75rem 0.5rem;
  border-radius: 8px;
  width: 14rem;
  height: 1rem;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1rem;
  color: #031e3e;
}

.input-btn {
  padding: 0.75rem 0.75rem 0.5rem;
  width: 6rem;
  background: #398bff;
  border-radius: 8px;
  font-weight: 700;
  font-size: 0.85rem;
  color: #ffffff;
}

.input-btn:hover,
.input-btn:active {
  cursor: pointer;
  background: #ccc;
  color: #398bff;
}

.social-network {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
}

.social-network p {
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  opacity: 0.7;
}

.social-network__icon {
  list-style: none;
}

.social-network__icon a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.7;
  margin-left: 0.5rem;
}

@media (max-width: 970px) {
  .main-footer__shared-bloc {
    display: flex;
    flex-direction: column;
  }

  .main-footer__links-bloc {
    margin: 0 auto;
  }

  .main-footer__classification-links {
    text-align: center;
    margin: 0 2rem;
  }

  .main-footer__classification-links h3 {
    text-align: center;
  }

  .main-footer__subscription {
    margin: 0 auto;
    text-align: center;
  }

  .social-network {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

@media (max-width: 530px) {
  .main-footer__links-bloc {
    display: flex;
    flex-direction: column;
  }

  .main-footer__subscription {
    width: 15rem;
  }

  .main-footer__subscription p {
    width: 100%;
  }

  .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #email {
    width: 10rem;
  }

  .input-btn {
    margin-top: 1rem;
  }

  .social-network {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
